streamlit
python-dotenv
datasets

# Ana LangChain Paketi (Tüm Bileşenleri Garanti Eder)
langchain
# LangChain Alt Bileşenleri
langchain-core
langchain-community
langchain-google-genai
sentence-transformers

# ChromaDB ve Streamlit Cloud Uyum Paketi
pysqlite3-binary
chromadb
