streamlit
longchain
langchain-google-genai
langchain-core
langchain-community
sentence-transformers
python-dotenv
datasets

# DEPLOY HATALARI İÇİN ÇÖZÜM PAKETLERİ:
# Bu, chromadb'nin sunucuda kurulması için gereken pakettir:
pysqlite3-binary

# chromadb'nin kendisi:
chromadb

